* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #dff0f2ec;
}

.getemp-container {
    max-width: 40vw;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}

.getemp-container .title {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

form .id-input-box span.emp-id-details{
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.id-input-box {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    padding-top: 30px;
    margin-bottom: 5px;
}

/* Submit Button */
form .button{
    height: 45px;
    margin: 35px 0;
}

form .button input{
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #74d1dbec;
    font-family: 'Times New Roman', Times, serif;
}