<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Added successfully</title> <!-- text only for title  -->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/1784c02093.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='empSuccess.css')}}">
    <!-- <link rel="stylesheet" href="emp_successful.css"> -->
</head>

<body>
    <div class="header">

        <h1 id="goodMorning">Sucessfully Add New Employee</h1>

        <div class="side-nav">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='bcts.png')}}" width="180" height="60">
                <!-- <img src="aa.png" width="180" height="60"> -->
            </a>
            
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}"><i class="fa fa-user-plus" aria-hidden="true"></i><p style="color:black">Add Employee</p></a></li>
                <li><a href="{{ url_for('searchEmp')}}"><i class="fa fa-search" aria-hidden="true"></i><p style="color:black">Search Employee</p></a></li>
                <li><a href="{{ url_for('deleteEmp')}}"><i class="fa fa-trash" aria-hidden="true"></i><p style="color:black">Delete Employee</p></a></li>

                <div class="active"></div>
            </ul>
        </div>
    
        <div class="container">
            
            
                <div id ="Personal">
                
                    <hr>
                    <h2>Personal Profile</h2>
                    <hr>

                    <a href="#" class="ProfilePic">
                    <img src="{{result[10]}}" alt="profile-picture"  width="190" height="210"> 
                    <!-- if image cannot be displaed alt  
                    border="5"-->
                    </a>

                    <h3>{{result[1] + ' ' + result[2]}}</h3>
                </div>

                <div id="Details">
                    <table style="border-collapse: collapse; width: 100%;">
                <tbody>
                <tr>
                <td colspan="2"><a id="emp-id">{{result[0]}}</a></td>
                </tr>
                <!-- <tr>
                    <td style="width: 50%;">&nbsp; Name</td>
                    <td><div id="here">{{result[1] + ' ' + result[2]}}</div></td>
                </tr> -->
                
                <tr>
                <td style="width: 50%;">&nbsp; Email</td>
                <td>{{result[3]}}</td>
                </tr> 

                <tr>
                    <td style="width: 50%;">&nbsp; Contact Number</td>
                    <td>{{result[5]}}</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Emergency Contact Number </td>
                    <td>{{result[6]}}</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Current Address </td>
                    <td>{{result[4]}}</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Date of Birth </td>
                    <td>{{result[8]}}</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Gender</td>
                    <td>{{result[7]}}</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Department</td>
                    <td>{{result[9]}}</td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="button">
            <button id="deleteBtn">Sure to delete?</button>
        </div>

        <div class="button">
            <button id="cancelDeleteBtn">Back to Previous Page</button>
        </div>
            
        </div>

        </div>

    </div>

</body>
<script src="{{ url_for('static', filename='delete.js')}}"></script>

</html>