<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Added successfully</title> <!-- text only for title  -->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/1784c02093.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="employee_successful.css">
</head>

<body>
    <div class="header">

        <h1 id="goodMorning">Sucessfully Add New Employee</h1>

        <div class="side-nav">
            <a href="#" class="logo">
                <img src="aa.png" width="180" height="60">
                <!-- <img src="aa.png" width="180" height="60"> -->
            </a>
            
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}"><i class="fa-solid fa-user"></i>
                        <p style="color:black">Employees</p>
                    </a></li>
                <li><a href="{{ url_for('payroll')}}"><i class="fa-solid fa-money-check-dollar"></i>
                        <p style="color:black">Payroll</p>
                    </a></li>

                <div class="active"></div>
            </ul>
        </div>

        <div class="container">
            
            
                <div id ="Personal">
                
                    <hr>
                    <h2>Personal Profile</h2>
                    <hr>

                    <a href="#" class="ProfilePic">
                    <img src="OIP.jpg" alt="profile-picture"  width="190" height="180"> 
                    <!-- if image cannot be displaed alt  
                    border="5"-->
                    </a>

                    <h3>Name</h3>
                </div>
                
                <div id="Details">
                    <table style="border-collapse: collapse; width: 100%;">
                <tbody>
                    <tr>
                    <td colspan="2"><a>Employee ID</a></td>
                    <td>{{result[0]}}</td>
                    </tr>
                
                    <tr>
                    <td style="width: 50%;">&nbsp; Email</td>
                    <td>rrrrrrrrrrrrr</td>
                    </tr> 

                <tr>
                    <td style="width: 50%;">&nbsp; Name</td>
                    <td><div id="here"></div></td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Contact Number</td>
                    <td>rrrrrrrrrrrrr</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Emergency Contact Number </td>
                    <td>rrrrrrrrrrrrr</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Current Address </td>
                    <td>rrrrrrrrrrrrr</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Date of Birth </td>
                    <td>rrrrrrrrrrrrr</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Gender</td>
                    <td>rrrrrrrrrrrrr</td>
                </tr>
                <tr>
                    <td style="width: 50%;">&nbsp; Department</td>
                    <td>rrrrrrrrrrrrr</td>
                </tr>
            </tbody>
            </table>
                </div>

            
        </div>

        </div>

    </div>

</body>


</html>