<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Employee</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/1784c02093.js" crossorigin="anonymous"></script>
    
     <!-- <link rel="stylesheet" href="style.css">   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="header">
        
        <h1 id="goodMorning">Good Morning, admin !</h1>
        
        <div class="side-nav">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='bcts.png')}}" width="180" height="60"> 
                <!-- <img src="bcts.png" width="180" height="60">  -->
            </a>
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}"><i class="fa-solid fa-user"></i><p style="color:black">Employees</p></a></li>
                <li><a href="{{ url_for('searchEmp')}}"><i class="fa-solid fa-money-check-dollar"></i><p style="color:black">Payroll</p></a></li>

                <!-- <li><a href="index.html"><i class="fa fa-user-plus" aria-hidden="true"></i><p style="color:black">Add Employee</p></a></li>
                <li><a href="searchEmp.html"><i class="fa fa-search" aria-hidden="true"></i><p style="color:black">Search Employee</p></a></li>
                <li><a href="deleteEmp.html"><i class="fa fa-trash" aria-hidden="true"></i><p style="color:black">Delete Employee</p></a></li> -->
                <div class="active"></div>
            </ul>
        </div>
        
        <div class="container">
            <div class="title">Add New Employee</div>
            <div class="content">
                <form action="/add_employees" method="post" enctype=multipart/form-data> 
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Employee's ID</span>
                            <input type="text" name="employeeID" id="generate-id" placeholder="Enter employee's id" required>
                        </div>
                        
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="text" name="email" placeholder="Enter your email" required>
                        </div>
                        
                        <div class="input-box">
                            <span class="details">First Name </span>
                            <input type="text" name="firstName"  placeholder="Enter your first name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Last Name</span>
                            <input type="text" name="lastName" placeholder="Enter your last name" required>
                        </div>
                        
                        <div class="input-box">
                            <span class="details">Phone Number</span>
                            <input type="text" name="phoneNumber" placeholder="Enter your number" required>
                        </div>
                        
                        <div class="input-box">
                            <span class="details">Emergency Contact Number</span>
                            <input type="text" name="emergencyContactNumber" placeholder="Enter your number" required>
                        </div>
                        
                        <div class="input-box">
                            <span class="details">Current Address</span>
                            <input type="text" name="currentAddress" id="generate-id" placeholder="Enter current address" required>
                        </div>

                    </div>
                    
                    <div class="gender-details">
                        <input type="radio" name="gender" id="dot-1" value="Male">
                        <input type="radio" name="gender" id="dot-2" value="Female">

                        <span class="gender-title">Gender</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Male</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Female</span>
                            </label>
                        </div>
                    </div>
                    
                    <div class="date">
                        <span class="dob-title">Date of Birth</span>
                        <input name="dob" type="date">
                    </div>
                    
                    <div class="departments">
                        <span class="department-title">Department</span>
                        <div class="select">
                            <select name="department" id="format">
                                <option selected disabled>Choose Department</option>
                                <option value="Accounting & Finance">Accounting & Finance</option>
                                <option value="Human Resources">Human Resources</option>
                                <option value="Information Technology">Information Technology</option>
                                <option value="Marketing & Sales">Marketing & Sales</option>
                                <option value="Research & Development">Research & Development</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="image">
                        <span class="img-title">Image</span> <br>
                        <input type=file name="imageFile" style="height:25px;font: size 13px;color:black;"> <br><br>
                    </div>
                    
                    <div class="button">
                        <input type="submit" value="Submit">
                    </div>
                    
                    
                </form>
                
            </div>
            
        </div>
        
    </div>    
    
</body>

</html>