<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show Employee's Information</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='searchEmp.css')}}">
	<!-- <link rel="stylesheet" href="searchEmp.css"> -->
	
</head>

<body>
	<div class="header">
        <div class="side-nav">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='logo.png')}}" width="40" height="40">
            </a>
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}"><i class="fa-solid fa-user"></i><p style="color:black">Employees</p></a></li>
                <li><a href="{{ url_for('searchEmp')}}"><i class="fa-solid fa-money-check-dollar"></i><p style="color:black">Payroll</p></a></li>
                <div class="active"></div>
            </ul>
        </div>
    
    <div class="emp-output-container">
        
        <div class="title">Employee's Information</div>
        
        <div class="content">
            
            <form>
                
                <div class="emp-output">
                    
                    <span class="outputs">Employee ID:</span><br> 
                    {{ id }} 
                    
                    <span class="outputs">First Name:</span><br> 
                    {{ fname }}
                    
                    <span class="outputs">Last Name:</span><br> 
                    {{ lname }} 
                    
                    <span class="outputs">Primary Interest:</span><br> 
                    {{ interest }} 
                    
                    <span class="outputs">Location:</span><br> 
                    {{ location }} 
                    
                    <span class="outputs">Image URL:</span> <br> 
                    {{ image_url }}
                    
                    <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>
                    
                </div>
                
                <div class="back-button">
                    <input type="submit" value="Back to previous page">
                </div>
                
                
            </form>
            
        </div>
    </div>
    
    
</body>

</html>
