<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Employee Information</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='searchEmp.css')}}">
	<!-- <link rel="stylesheet" href="searchEmp.css"> -->
	
</head>

<body>
	<div class="header">
        <div class="side-nav">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='logo.png')}}" width="40" height="40">
            </a>
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}"><i class="fa-solid fa-user"></i><p style="color:black">Employees</p></a></li>
                <li><a href="{{ url_for('searchEmp')}}"><i class="fa-solid fa-money-check-dollar"></i><p style="color:black">Payroll</p></a></li>
                <div class="active"></div>
            </ul>
        </div>
	
	<div class="getemp-container">

		<div class="title">Enter Employee's ID</div>
		
		<div class="content">
			
			<form action="/searchEmployee" method="POST" enctype=multipart/form-data>
				
				<div class="emp-id">
					
					<div class="id-input-box">
						
						<span class="emp-id-details">Employee's ID: </span>
						<input type="text" name="employeeID" placeholder="Please enter the id" required>
						
					</div>

				</div>
				
				<div class="button">
					<input type="submit" value="Fetch Info">
				</div>
				
				
			</form>
			
		</div>
	</div>
	
</body>

</html>
