<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Employee Information</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='searchEmp.css')}}">
	<!-- <link rel="stylesheet" href="searchEmp.css"> -->
	
</head>

<body>
	
	<div class="getemp-container">

		<div class="title">Enter Employee's ID</div>
		
		<div class="content">
			
			<form action="/searchEmployee" autocomplete="on" method="POST">
				
				<div class="emp-id">
					
					<div class="id-input-box">
						
						<span class="emp-id-details">Employee's ID: </span>
						<input type="text" name="employeeID" placeholder="Please enter the id" required>
						
					</div>

				</div>
				
				<div class="button">
					<input type="submit" value="Fetch Info">
				</div>
				
				
			</form>
			
		</div>
	</div>
	
</body>

</html>
