<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="searchEmpOutput.css">
    <title>Employee Information</title>
</head>

<body>
    
    <div class="emp-output-container">
        
        <div class="title">Show Employee</div>
        
        <div class="content">
            
            <form>
                
                <div class="emp-output">
                    
                    <span class="outputs">Employee ID:</span><br> 
                    {{ id }} 
                    
                    <span class="outputs">First Name:</span><br> 
                    {{ fname }}
                    
                    <span class="outputs">Last Name:</span><br> 
                    {{ lname }} 
                    
                    <span class="outputs">Primary Interest:</span><br> 
                    {{ interest }} 
                    
                    <span class="outputs">Location:</span><br> 
                    {{ location }} 
                    
                    <span class="outputs">Image URL:</span> <br> 
                    {{ image_url }}
                    
                    <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>
                    
                </div>
                
                <div class="back-button">
                    <input type="submit" value="Back to previous page">
                </div>
                
                
            </form>
            
        </div>
    </div>
    
    
</body>

</html>
