* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #dff0f2ec;
} */

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
  background: #dff0f2ec;
}


.header {
  width: 100%;
  height: 100vh;
  background: #dff0f2ec;
}

#goodMorning{ 
  margin-left: 17rem;
  margin-top: 2vh;
  font-size: 40px;
}

/* Left Nav-bar */
.side-nav {
  width: 250px;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
}

.logo {
  display: block;
  margin-bottom: 130px;
}

.nav-links {
  list-style: none;
  position: relative;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  padding: 20px 14px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.nav-links li a i {
  font-size: 22px;
  margin-right: 10px;
}

.active {
  background: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 2.8%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px #74d1dbec;
  display: none;
  transition: top 0.2s;
}

.nav-links li:hover a {
  color: #2938c3;
  transition: 0.3s;
}

.nav-links li:hover ~ .active {
  display: block;
}

.nav-links li:nth-child(1):hover ~ .active {
  top: 6.0%;
}

.nav-links li:nth-child(2):hover ~ .active {
  top: 39.0%;
}

.nav-links li:nth-child(3):hover ~ .active {
  top: 73.0%;
}

/* .container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  margin-left: 35vw;
  margin-top: 3vh;
  height:95%; 
} */

.container {
  background-color: #fff;
  padding: 20px 1px;
  max-width: 850px;
  width: 100%;
  margin-left: 30vw;
  margin-top: 80px;
  margin-bottom: 80px;
  /* height: 1400px; */
  overflow: auto;
  border-radius: 5px;
}

.container .title{
  font-size: 30px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #74d1dbec, #4bb8b8);
}

/* Input Field */
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
}

.input-box{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.user-details .input-box input{
  border: none;
  appearance: none;
  -ms-appearance : none;
  -moz-appearance: none;
  appearance: none;
  background : #f2f2f2;
  padding: 12px;
  border-radius: 10px;
  width: 250px;
  outline :none;
  font-size : 13px;
  border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  background :
  linear-gradient(90deg, #4bb8b8, #4bb8b8) center bottom / 0 2px no-repeat,
  linear-gradient(90deg, #ccc, #ccc) left bottom / 100% 2px no-repeat,
  linear-gradient(90deg, #fafafa, #fafafa) left bottom / 100% no-repeat;
  transition: background-size 0.3s ease;
}

input:focus::placeholder{
  color: transparent;
}

input::placeholder{
  color: grey;
  transition: color 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  background-size: 100% 2px, 100% 2px, 100%;
}

/* Select Gender */
form .gender-details .gender-title{
  font-size: 18px;
  font-weight: 500;
}

form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: flex-start;
}

form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding-right: 60px;
}

form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #74d1dbec;
  border-color: #f4f1f1;
}

form input[type="radio"]{
  display: none;
}

/* Date of Birth Title */
form .dob-title {
  font-size: 18px;
  font-weight: 480;
}

/* Select Date Box */
form .date {
  height: 45px;
  margin: 35px 0;
  margin-left: 340px;
  margin-top: -170px;
}

input[type="date"]{
  background-color: #f2f2f2;
  padding: 7px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  margin-top: 25px;
  margin-left: 70px;
  position: static;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* Select Department Box */
form .departments {
  margin-left: 340px;
  margin-top: 45px;
}

.department-title{
  font-size: 18px;
  font-weight: 500;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #f7f7f7;
  background-image: none;
  flex: 1;
  padding: 0 15px;
  color:#000000;
  cursor:pointer;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 12em;
  height: 2.7em;
  line-height: 3;
  background: #f7f7f7;
  overflow: hidden;
  border-radius: .25em;
  margin-top: 5px;
  margin-left: -2px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #f7f7f7;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #74d1dbec;
}

/* Image Input */
form .image {
  margin-top: 10px;
}

.img-title{
  font-size: 18px;
  font-weight: 500;
}

input[type=file] {
  margin-top: 5px;
}

/* Submit Button */
form .button{
  height: 35px;
  margin-top: 13px;
}

form .button input{
  height: 100%;
  width: 80%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #74d1dbec;
  font-family: 'Times New Roman', Times, serif;
}

form .button input:hover{
  /* transform: scale(0.99); */
  background-color: #4bb8b8;
}

@media(max-width: 584px){
  .container{
    max-width: 100%;
  }
  
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  
  form .category{
    width: 100%;
  }
  
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  
}
@media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
    
  }
}

